modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Portfolyo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mockup Sandbox"

[[workflows.workflow]]
name = "Portfolyo"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21113 BASE_PATH=/ pnpm --filter @workspace/portfolio run dev"
waitForPort = 21113

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 pnpm --filter @workspace/api-server run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Mockup Sandbox"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8000 BASE_PATH=/__mockup/ cd artifacts/mockup-sandbox && PORT=8000 BASE_PATH=/__mockup/ pnpm dev"
waitForPort = 8000

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 21113
externalPort = 80

[userenv]

[userenv.shared]
JWT_SECRET = "nd-portfolio-jwt-secret-2025-change-me"
